<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<script src="http://www.chartjs.org/dist/2.7.0/Chart.bundle.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
	<body>
	<canvas id="canvas"></canvas>

<script>
$(function(){
	$.get('{% url "data_json" %}')
	// mychary data에서 응답을 받아오고
		.done(function(chartdata){
			//성공하면
			var ctx = document.getElementById('canvas').getContext('2d');
			//차트데이터를 참고해서 쓴다
			window.chart = new Chart(ctx, {
				type: 'bar',
				data: chartdata
			});
		})
		.fail(function(xhr, textStatus, error){
			alert('failed :'+ error);
		});
});
		</script>
	</body>
</html>